@media(min-width:1200px){
    .dynamic{
        h3{
            margin:124px 0 60px 0;
            font-size: 28px;
            text-align: center;
            line-height: 1;
            width: 100%;
        }
        a{
            text-decoration: none;
        }
        ul{
            padding-left: 50px;
        }
        ul li{
            float: left;
            padding:14px 25px 23px 25px;
            background: #fff;
            margin-right: 30px;
        }
        ul li>a{
            display: block;
        }
        .circle{
            display: block;
            width:152px;
            height: 152px;
            border-radius: 50%;
            overflow: hidden;
            margin-bottom: 20px;
        }
        .circle img{
            position: relative;
            top:-20%;
            left: -20%;
        }
        .content{
            h4,.con{
                float: left;
            }
            h4{
                font-size: 26px;
                font-weight: bolder;
                color: #666666;
                margin-top:30px;
                margin-right: 44px;
            }
            .con{
                min-width: 16px;
                overflow: hidden;
            }
            p{  width: 16px;
                font-size:14px;
                color:#666666;
                height:180px;
                line-height: 1;
            }
     }
    }
}
