@media (min-width: 1200px){
    .carousel-inner .item>img{
        width: 100% !important;
        height: 100% !important;
        position: relative;
        display: block;
    }
    .carousel-inner .item h1{
        position: absolute;
        color: #fff;
        left: 31%;
        top: 33.5%;
        letter-spacing: 12px;
        font-size:52px;
        font-family: "Simsun";
        font-weight: normal;
    }
}